<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../head'); %>
</head>
<body class="container">

<header>
  <%- include('../header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>About page</h1>

    
  </div>
</main>

<%- include('../footer'); %>
<footer>
</footer>

</body>
</html>