<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../ejs/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../ejs/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is the page hitapi</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<%- include('../../ejs/footer'); %>
<footer>
</footer>

</body>
</html>