<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../ejs/head'); %>
</head>
<body class="container">

<header>
  <%- include('../ejs/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Hello there from Index</h1>

    
  </div>
</main>

<%- include('../ejs/footer'); %>
<footer>
</footer>

</body>
</html>